<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EasyAccount.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3F1A64E71D2360A90067E0E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F1A65001D2360AA0067E0E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F1A650B1D2360AA0067E0E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
